<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Clozer</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#" ui-sref="home.opportunities" ui-sref-active="active">Opportunities <span class="sr-only">(current)</span></a></li>
        <li><a href="#" ui-sref="home.new" ui-sref-active="active">New Opp <span class="sr-only">(current)</span></a></li>
        <li><a href="#" ui-sref="home.about" ui-sref-active="active">About <span class="sr-only">(current)</span></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<hr>

<div ui-view>
  <div class="jumbotron">
    <h1>Welcome to Clozer!</h1>
    <h3>Close your sales faster</h3>
    <p><a class="btn btn-primary btn-lg" href="#" role="button" ui-sref="home.about">Learn more</a></p>
  </div>
</div>
