
 @import "bootstrap-sprockets";
 @import "bootstrap";

* {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

.opp-card {
  border: 1px gray solid;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  background: rgba(153, 194, 255, 0.5);
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  a, a:hover {
    color: gray;
    text-decoration: none;
  }
}

li {
  list-style-type: none;
}

.green {
  background: rgba(67, 197, 67, 0.5);
}

form#loginForm {
  padding: 10px;
  height: 100%;
  margin: none;
}
